  <div class="container" role="main">
  <body style="background-color:gray;">
    <div>
       <div style="height: 60px;margin:auto">
        <img src="https://cdn.pixabay.com/photo/2017/11/09/01/49/lamborghini-aventador-2932196_960_720.jpg" width="1200" height="870">
       </div>
       
      <h1 align="center" style="color:red;">AutoZone Rentals</h1>
    </div>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <a class="navbar-brand" style="color:red;" href="<%= root_url %>">Home</a>
        <a class="navbar-brand" style="color:red;" href="/users/new">Sign Up</a>
        <a class="navbar-brand" style="color:red;" href="/signin" >Log in</a>
        <a class="navbar-brand navbar-right" style="color:yellow;" href="/auth/facebook" > Log in with Facebook!</a>

      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </div>
  </div>

  <div class="container"  role="main"> </div>